body {
    margin: 0;
}

.top {
    background-color: dimgrey;
    height: 55px;
}

.one {
    height: 70px;
    margin-top: 30px;
    margin-right: 20px;
    text-align: right;
}

.link-one {
    text-decoration: none;
    color: rgb(80, 24, 24);
    font-size: 18px;
    background-image: linear-gradient(45deg, chocolate, cyan);
    border-radius: 4px;
    margin: 5px 12px;
    padding: 7px 20px;
    padding-right: 16px;
    float: right;

}

.topper {
    margin-left: 5%;
    float: left;
    width: 38%;
    margin-top: 35px;
}

.top-section {
    height: 500px;
    background-image: url("top-banner21.png");
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 2%;
    padding-top: 20px;

}

.topper h1 {
    font-size: 70px;
    color: lightseagreen;

}

.topper .head {
    font-size: 60px;
    color: lightskyblue;
    font-weight: 800;
}

.topper img {
    width: 100%;
}

.topper p {
    color: rgb(133, 111, 96);
    font-size: 23px;
    margin-bottom: 60px;
}

.anchor1 {
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(126, 87, 87), rgb(111, 122, 122));
    border-radius: 4px;
    padding: 15px 40px;
    font-size: 22px;
    color: rgb(80, 46, 21);
    margin-top: 80px;
    font-weight: 700;
}

.middle {
    margin-left: 4.5%;
    float: left;
    width: 38%;
    margin-top: 135px;

}

.middle img {
    width: 100%;
}

.middle h1 {
    font-size: 40px;
    color: lightseagreen;
    text-align: center;
}

.middle p {
    color: tan;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 50px;
}

#middleone {
    box-shadow: 10px 10px 35px;
    padding: 40px 20px;
    height: 400px;
    border-left: 4px solid;
    border-right: 4px solid;
    border-radius: 20px;
    border-image: linear-gradient(180deg, blueviolet, cyan);
    border-image-slice: 1;
    margin-left: 120px;
    border-image-outset: 5px;
    margin-top: 135px;
}

.middleanchor {
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(126, 87, 87), rgb(111, 122, 122));
    border-radius: 6px;
    padding: 15px 24px;
    font-size: 22px;
    color: rgb(80, 46, 21);
    text-align: center;
    margin: 180px;
    font-weight: 700;
}

.middleanchor i {

    height: 12px;
}

.extra h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 60%;
    padding-top: 60px;
}

.extra {
    background-color: #f5f5f5d7;
    height: 700px;

}

.quater1 {
    height: 460PX;
    Width: 18%;
    margin-left: 9%;
    padding: 15px 25px;
    box-shadow: 10px 10px 25px rgb(241, 220, 220);
    border-radius: 8px;
    float: left;
}

.quater1 p {
    font-size: 19px;
    color: rgb(243, 194, 102);
    text-align: justify;
    margin-bottom: 200px;
}

.quater1 img {
    margin-left: 10px;
    margin-top: 20px;
    height: 180px;
    width: 90%;
    box-shadow: 6px -4px 20px wheat;
    border-radius: 8px;
}

.quater1 h3 {
    font-size: 40px;
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;

}

.contact-top {
    height: 600px;
    margin-top: 180px;
    background-color: seashell;
    margin-bottom: 120px;
}

.contact-one {
    width: 60%;
    float: center;
    height: 180px;
    background-image: linear-gradient(45deg, whitesmoke, blueviolet, cyan);
    margin-left: 17.5%;
    border-radius: 30px;
    margin-top: 50px;
    padding: 30px 40px;
}

.contact-work {
    font-size: 40px;
    font-weight: 700;
    color: teal;
    text-align: center;
    margin-left: 30px;
    margin-right: 360px;
    margin-top: 60px;
    float: left;
}

.contact-word {
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(158, 122, 122), rgb(111, 122, 122));
    border-radius: 6px;
    padding: 15px 24px;
    font-size: 22px;
    font-weight: 700;
    color: rgb(29, 43, 43);
    margin-right: 80px;
    margin-bottom: 390px;
    float: right;
}

.contact-one img {
    margin-right: 10px;
    padding: 15px;
    height: 80px;
    width: 80px;
    float: left;
}

.last-add {
    width: 100%;
    text-align: center;
}

.last-add h1 {
    color: lightsalmon;
    margin-top: 50px;
    margin-left: 33%;
    padding: 10px 15px;
    font-size: 50px;
    font-weight: 700;
    text-align: center
}


.testimonial h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 7%;
    padding-top: 60px;
}

.testimonial {
    background-color: #f5f5f5d7;
    margin-top: 50px;
    height: 760px;

}

.testimonial1 {
    height: 530PX;
    Width: 18%;
    margin-left: 9%;
    padding: 15px 25px;
    box-shadow: 10px 10px 25px rgb(241, 220, 220);
    border-radius: 8px;
    float: left;
}

.testimonial1 p {
    font-size: 19px;
    color: rgb(243, 194, 102);
    text-align: justify;
    margin-bottom: 200px;
}

.testimonial1 img {
    margin-left: 10px;
    margin-top: 20px;
    height: 180px;
    width: 90%;
    box-shadow: 6px -4px 20px wheat;
    border-radius: 8px;
}

.testimonial1 h3 {
    font-size: 40px;
    color: tomato;
    font-family: Arial, Helvetica, sans-serif;

}

.footer-last {
    float: center;
    margin-left: 30%;
    text-decoration: none;
    padding: 10px 25px;
}

.footer-last a {
    margin: 10px 20px;
}

.bottom-section {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.testimonial-last {
    color: lightsalmon;
    font-size: 24px;
}

.last-head {
    font-size: 30px;
    color: rgb(126, 87, 87);
    text-align: center;
    margin-left: 35%;
    margin-top: 180px;
}

.last-two {
    text-align: center;
    margin-left: 33%;
    padding: 20px 30px;
    margin-right: 20px;
}

.last-one {
    margin: 10px 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
    color: rgb(158, 122, 122);
    font-size: 20px;
}